<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>WebServlet_91_filter</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- 필터 설정하기  -->
  <filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>kr.or.kosa.filter.Encoding</filter-class>
  	<init-param>
  		<param-name>encoding</param-name> 
  		<!-- kr.or.kosa.filter 안에 Encoding.java 파일에서 request.setCharacterEncoding(this.encoding);를 실행하면
  		encoding의 value가 아래와 같이 UTF-8로 바뀐다.
  		kr.or.kosa 패키지 안에 있는 클래스들 원래는 다 request.setCharacterEncoding("UTF-8"); 있어야 하는데
  		 -->
  		<param-value>UTF-8</param-value> 
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/login/*</url-pattern><!-- localhost:8090/web/login/login.do -->
  </filter-mapping>
</web-app>



